body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #A02334;}
    h1{color: #FFAD60;}
h2{color: aliceblue;}
h3{color: azure;}
p{color: white;}
.container¨{max-width: 720px;}
h1








